@import url("nature.css");

div.document {
    background-color: #fff;
}

div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
    background-color: #fff;
}

div.related {
    color: #444;
    background-color: #fff;
    text-shadow: 0 0 0;
}

div.related a {
    color: #444;
}

p.logo {
    text-align: center;
}

#header {
    text-align: right;
    padding: 10px 20px 0 0;
    background-color: #fff;
    font-size: 14px;
}

#header a {
    color: #808080;
}